.work {}

.conteiner {
    width: 930px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.work_title {
    margin-bottom: 8px;
}

.conteiner-title {
    width: 900px;
    margin: 0 auto;
    padding: 40px 0px 16px 16px;
    margin-bottom: 6px;
}


.work_item {
    display: flex;
    padding-bottom: 18px;
    padding-top: 18px;
    margin-bottom: 24px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.08);
    border-radius: 0px;

}

.work_img {
    margin: 0px 24px 0px 0px;
}

.span_marg {
    margin-bottom: 24px;
}

.work_date {
    display: inline;
    margin-right: 24px;

}

.work_span {
    display: inline;

}

.work_colum {
    padding: 16px 8px;
}

.work_texdete {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 12px 40px 28px 32px;
}

.work_texdete1 {
    flex-direction: column;
    ;
    padding: 12px 40px 28px 32px;
}

.work_texdete2 {
    flex-direction: column;
    ;
    padding: 12px 40px 28px 32px;
}

.work_texdete3 {
    flex-direction: column;
    ;
    padding: 12px 40px 28px 32px;
}


.work_text {
    flex-wrap: wrap;
    flex-direction: column;

}



.work_text1 {
    flex-wrap: wrap;
    flex-direction: column;

}


.work_text2 {
    flex-wrap: wrap;
    flex-direction: column;

}

.work_text3 {
    flex-wrap: wrap;
    flex-direction: column;

}